[submodule "HexedSRC/Sounds"]
	path = HexedSRC/Sounds
	url = git@github.com:hexengraf/HexedUTSounds.git
	branch = master
[submodule "HexedUTComp"]
	path = HexedUTComp
	url = git@github.com:hexengraf/HexedUTComp.git
	branch = master
[submodule "HexedSRC/Textures"]
	path = HexedSRC/Textures
	url = git@github.com:hexengraf/HexedUTTextures.git
	branch = master
