[submodule "HexedUTComp"]
	path = HexedUTComp
	url = git@github.com:hexengraf/HexedUTComp.git
	branch = master
[submodule "Resources"]
	path = Resources
	url = https://github.com/hexengraf/HexedUT2k4-Resources
	branch = master
