Animations/**/*
Benchmark/**/*
ForceFeedback/**/*
Help/**/*
KarmaData/**/*
Manual/**/*
Maps/**/*
Music/**/*
Prefabs/**/*
ScreenShots/**/*
Sounds/**/*
Speech/**/*
StaticMeshes/**/*
System/**/*
Textures/**/*
Web/**/*
